$green-background: #e4eec8;
$light-green:#b4c090;
$green: #606C38;
$dark-green: #283618;
$white: #FEFAE0;
$shadow-color: rgba(0, 0, 0, .6);
$dark-shadow: rgba(0, 0, 0, .8);

$green-gradient: linear-gradient(118deg, $light-green 0%, $white 100%);
$darkgreen-gradient: linear-gradient(0deg, $dark-green 0%, $light-green 30%);